<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.z590ks">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.settings"
             android:requiredSystemPropertyName="ro.vendor.build.asus.sku"
             android:requiredSystemPropertyValue="WW"
             android:isStatic="true"
             android:priority="10" />
</manifest>
